<div>
    Player vehicles:

    <div ng-if="achievements">
        Tanks with 3 marks of excellence

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th ng-click="sortTypeMoe='tier'; sortReverse=!sortReverse">
                        Tier
                        <span ng-show="sortTypeMoe == 'tier' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortTypeMoe == 'tier' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </th>
                    <th ng-click="sortTypeMoe='name'; sortReverse=!sortReverse">
                        Name
                        <span ng-show="sortTypeMoe == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortTypeMoe == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tank in moeTanks | orderBy:sortTypeMoe:sortReverse">
                    <td><img src="{{tank.icon}}" alt="{{tank.name}}"></td>
                    <td>{{tank.tier}}</td>
                    <td>{{tank.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="!isArray(tanksList)">
        {{tanksList}}
    </div>

    <div class="table-responsive tanks-list" ng-if="isArray(tanksList)">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th ng-click="sortType='tankID'; sortReverse=!sortReverse">
                        Tank ID
                        <span ng-show="sortType == 'tankID' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'tankID' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </th>
                    <th ng-click="sortType='battles'; sortReverse=!sortReverse">
                        Battles
                        <span ng-show="sortType == 'battles' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'battles' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </th>
                    <th ng-click="sortType='avgWinRate'; sortReverse=!sortReverse">
                        WR
                        <span ng-show="sortType == 'avgWinRate' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'avgWinRate' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </th>
                    <th ng-click="sortType='avgDamage'; sortReverse=!sortReverse">
                        Average dmg
                        <span ng-show="sortType == 'avgDamage' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'avgDamage' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </th>
                    <th ng-click="sortType='avgXP'; sortReverse=!sortReverse">
                        Average XP
                        <span ng-show="sortType == 'avgXP' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'avgXP' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </th>
                    <th ng-click="sortType='avgSurvived'; sortReverse=!sortReverse">
                        Survived
                        <span ng-show="sortType == 'avgSurvived' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'avgSurvived' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </th>
                    <th ng-click="sortType = 'wn8.value'; sortReverse = !sortReverse">
                        WN8
                        <span ng-show="sortType == 'wn8.value' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'wn8.value' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tank in tanksList | orderBy:sortType:sortReverse">
                    <td>{{$index + 1}}</td>
                    <td>{{tank.tankID}}</td>
                    <td>{{tank.battles}}</td>
                    <td>{{tank.avgWinRate | roundTo:2}} %</td>
                    <td>{{tank.avgDamage | roundTo}}</td>
                    <td>{{tank.avgXP | roundTo}} (max {{values.maxXP | roundTo}})</td>
                    <td>{{tank.avgSurvived | roundTo:1}} %</td>
                    <td ng-style="{'color': '#fff', 'background-color': tank.wn8.color}">{{tank.wn8.value | roundTo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>