<div class="player-info">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Player name" ng-model="playerName" ng-keydown="$event.which === 13 && getPlayer(playerName)" />
    </div>
    <button ng-click="getPlayer(playerName)" class="btn btn-lg btn-search more" type="submit">Get player info</button>

    <hr />

    account_id: {{playerID}}<br />
    created at: {{createdAt}}<br />

    <personal-rating ng-if="playerInfo"></personal-rating>

    <wn8-tank></wn8-tank>
</div>

<hr />

player info: <pre>{{playerInfo | json}}</pre>