.personal-rating {
    border: 1px solid yellow;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background: url('../img/badge.png') no-repeat right top;

    h2 {
        font-size: 500%;
        font-family: 'Oswald', sans-serif;
        padding: 15px;
    }
}