<div>
  <h1>Starting page</h1>
  <a href="#/player" ui-sref="app.player">Player Info</a>
</div>

<pre>WOT licencing topic: <a href="http://forum.worldoftanks.eu/index.php?/topic/433192-play-developer-account-suspended-because-i-built-an-world-of-tanks-related-app/">http://forum.worldoftanks.eu/index.php?/topic/433192-play-developer-account-suspended-because-i-built-an-world-of-tanks-related-app/</a></pre>
<pre>WG Developer reply: <a href="http://forum.worldoftanks.eu/index.php?/topic/433192-play-developer-account-suspended-because-i-built-an-world-of-tanks-related-app/page__pid__9174554#entry9174554">http://forum.worldoftanks.eu/index.php?/topic/433192-play-developer-account-suspended-because-i-built-an-world-of-tanks-related-app/page__pid__9174554#entry9174554</a></pre>